body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar{
    display: none;
}

nav {
	background-color: transparent;
	position: fixed;
	top: 20px;
	width: 100%;
	z-index: 1;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
	font-size: 22px;
	padding: 5px;
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: red;
    transition: all 0.3s ease;
}

nav a:hover::before {
    height: 2px;
}

nav a:hover {
    color: white;
	border-radius: 15px;
}

.sections {
    scroll-snap-align: start;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#home video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }

.homeContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
    color: white;
}

.homeContainer h1 {
	color: red;
	font-size: 80px;
    margin: 0;
}

.homeContainer h2 {
	color: white;
	font-size: 40px;
    margin: 0;
}

#about {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

#about video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1; 
}

.aboutContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
    color: white;
}

.aboutContainer h1 {
	margin: 0;
	color: red;
	font-size: 60px;
}

.aboutContainer p {
	margin: 0;
	color: white;
	font-size: 22px;
}

#team {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

#team video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1; 
}

.teamContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
    color: white;
}

.teamContainer h1 {
	color: red;
	font-size: 60px;
}

.teamContainer h3 {
	font-size: 28px;
    margin-bottom: 10px;
}

.teamMembers {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.teamMemberInfo {
    text-align: center;
    margin-right: 100px;
}

.teamMemberInfo:last-child {
    margin-right: 0;
}

.teamMemberOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    border-radius: 15%;
}

.teamMemberInfo:hover .teamMemberOverlay {
    opacity: 1;
}

.teamMemberOverlay h2 {
	font-size: 28px;
    margin: 0;
}
.teamMemberOverlay p {
    font-size: 18px;
    margin: 0;
}

.teamMemberInfo img {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15%;
}

.reviewerMembers {
    justify-content: space-between;
    align-items: center;
}

.reviewerMemberInfo {
	display: inline-block;
	color: white;
    margin-right: 75px;
}

.reviewerMemberInfo:last-child {
    margin-right: 0;
}

.reviewerMemberInfo a:link {
    color: white;
}

.reviewerMemberInfo a:visited {
    color: white;
}

.reviewerMemberInfo a:hover {
    color: red;
}

.reviewerMemberInfo a:active {
    color: white;
}

.reviewerMemberInfo h2 {
	font-size: 28px;
    margin: 0;
}

.reviewerMemberInfo p {
	font-size: 18px;
    margin: 0;
}

#documents {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

#documents video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1; 
}

.documentationContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
    color: white;
}

.documentContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
    scroll-behavior: smooth;
    width: 1260px;
    margin: 0 auto;
}

.documentContainer::-webkit-scrollbar {
    width: 10px;
}

.documentContainer::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 25px;
}

.documentContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 0, 0, 0.6);
}

.documentWrapper {
    flex: 0 0 240px;
    margin-right: 10px;
    height: 300px;
    text-align: center;
}

.documentWrapper img {
    width: 240px;
    height: 240px;
}

.documentWrapper h2 {
    margin: 0;
}

.videoContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 1600px;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0 auto;
}

.videoContainer::-webkit-scrollbar {
    width: 10px;
}

.videoContainer::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 25px;
}

/* Handle on hover */
.videoContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 0, 0, 0.6);
}

.videoWrapper {
    flex: 0 0 640px;
    margin-right: 10px;
    height: 360px;
}

@media screen and (max-width: 768px) {
    nav {
        top: 0;
        background-color: #333;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        font-size: 18px;
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    .sections {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .homeContainer {
        padding: 20px;
    }
    .homeContainer h1 {
        font-size: 36px;
    }
    .homeContainer h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .aboutContainer {
        padding: 20px;
    }
    .aboutContainer h1 {
        font-size: 36px;
    }
    .aboutContainer p {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .teamContainer {
        padding: 20px;
    }
    .teamContainer h1 {
        font-size: 36px;
    }
    .teamContainer h3 {
        font-size: 24px;
    }
    .teamMembers {
        flex-direction: column;
    }
    .teamMemberInfo {
        margin-right: 0;
        margin-bottom: 20px; 
    }
}

@media screen and (max-width: 768px) {
    .documentationContainer {
        padding: 20px;
    }
    .documentContainer {
        width: 100%;
    }
    .documentWrapper {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .videoContainer {
        width: 100%;
    }
    .videoWrapper {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
